{% from "macro.html" import render_field %} 
{% extends 'base.html' %}
{% block header %}
<p>{% block title %}  login {% endblock %}
{% endblock %}
{% block content %}
<style>
        .container {
          margin-bottom: 50%;
          margin-left: 25%;
      
      
        }
      </style>
      <div class="container">
<div class="w3-content w3-container w3-padding-64">
<p>Thank you for applying our personel will check your profile,if is found fit you will be scheduled for an interview !</p>
</div>
</div>
{% endblock %}