{% from "macro.html" import render_field %} 
{% extends 'base.html' %}
{% block header %}
<p>{% block title %}Update{% endblock %}</p>
{% endblock %}
{% block content %}

<div class="w3-container">
    <h2></h2>
  
   
    <div id="id01" >
      <div class="w3-modal-content  " style="max-width:600px">
    
        <div class="w3-center"><br>
         
          <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        </div>
  
        <form action="{{url_for('nanny.update')}}"  method="POST">
          <div class="w3-section">
           
  
           <span class="w3-input w3-border w3-margin-bottom"> 
            {{ render_field(form.city) }}
            
           </span>
            
      
            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Search</button>
            
          </div>
        </form>
  
        
  
      </div>
    </div>
  </div>

{% endblock %}