/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');








/* Profile styling */
.profiles {
  padding: 2rem;
}

.profiles > ul {
 
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 1rem;
}

.profiles> ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.profiles > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.profiles > ul > li > figure > img {
    height: 20rem;
    margin-bottom: 0rem;
}

.profiles > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.profiles > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.profiles> ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.profiles > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
  
}
.profiles > ul > li > a:hover{
    background-color: wheat;
    
  }

